{% extends 'admin2/base.html' %}
{% load widget_tweaks %}

{% block container %}
    <div class="container-fluid">
        <ol class="breadcrumb my-3 small">
            <li class="breadcrumb-item"><a href="{% url 'index_admin' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'categories' %}">Categorias</a></li>
            <li class="breadcrumb-item active">Cadastrar Categoria</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center align-content-between">
                <i class="icofont-compass mr-1"></i>Cadastrar Categoria
            </div>
            <div class="card-body small">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="id_name"><h6>Nome da categoria</h6></label>
                            {% render_field form.name class='form-control' placeholder='Nome' %}
                        </div>
                        <div class="form-group col-6">
                            <label for="id_description"><h6>Descrição</h6></label>
                            {% render_field form.description class='form-control' placeholder='Descrição' %}
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-sm btn-success px-3"><i class="fa fa-check-circle mr-2"></i>Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock%}
